html {
    cursor: url('../images/wii-open-ccw.cur'), default;
}

body {
    cursor: url('../images/wii-open-ccw.cur'), default;
    font-family: font;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(226, 223, 223);
}

.accordion-header {
    background-color: rgb(226, 223, 223);
    border: solid .3rem turquoise;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 125rem;
    padding-top: 10rem;
}

.list-group-item.active {
    background-color: transparent;
    border: transparent;
    color: turquoise;
}

.list-group-item {
    background-color: transparent;
    border: transparent;
}

.list-group-item:hover {
    background-color: transparent;
    color: turquoise;
}

.card {
    width: 45rem;
    border: solid .3rem black;
}

.card:hover {
    cursor: url('../images/wii-open-ccw.cur'), default;
}

.card-body {
    background-color: transparent;
    border: none;
}

.card-body-outline {
    border-color: turquoise;
}

.rounded {
    width: 3rem;
}

.img-fluid {
    width: 4rem;
}

.img-fluid:hover {
    cursor: url('../images/Wii Cursor.cur'), default;
}

.fs-1:hover {
    color: black;
}

.fs-3 {
    color: black;
    width: 40.7rem;
    padding-right: 30rem;
}

.fs-3:hover {
    cursor: url('../images/Wii Cursor.cur'), default;
}

.fs-5 {
    color: black;
}

hr {
    color: turquoise;
    border: solid .1rem turquoise
}

.btn {
    border: turquoise solid .003rem;
}

.btn-light:hover {
    cursor: url('../images/Wii Cursor.cur'), default;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}

.btn:hover {
    cursor: url('../images/Wii Cursor.cur'), default;
}

.collapsed:hover {
    cursor: url('../images/Wii Cursor.cur'), default;
}

#medley {
    width: 0rem;
    display: none;
}

@font-face {
    font-family: font;
    src: url('../font/contl.ttf');
}
