body {
    background-image: url('../images/Red Odyssey.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: font;
}

.img-fluid {
    width: 40rem;
}

.fs-2 {
    color: white;
}

.fs-3 {
    width: 46rem;
    color: white;
}

.navbar {
    width: 39.1rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(58, 212, 240);
}

.nav-link:visited {
    color: rgb(58, 212, 240);
}

.nav-link:visited:hover {
    color: white;
}

.dropdown-item:hover {
    background-color: rgb(58, 212, 240);
}

.dropdown-item:visited {
    color: rgb(2, 43, 2);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 125rem;
    max-width: 100%;
}

iframe {
    display: block; 
    margin: auto;
}

#medley {
    width: 0rem;
    display: none;
}

.btn {
    background-color: rgb(39, 131, 235);
    color: white;
    width: 12.1rem;
    border: white solid .1rem;
}

.btn:hover {
    background-color: white;
    color: rgb(39, 131, 235);
    border: rgb(39, 131, 235) solid .1rem;
}

@font-face {
    font-family: font;
    src: url('../font/moon_get-Heavy.ttf');
}