body{
    
}
#background{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%2305ffea'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23838384'/%3E%3Cstop offset='1' stop-color='%23838384'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
#headerh{
    text-align: center;
    color: black;
    font-size: 3rem;
}
#price{
    text-align: center;
    color: black;
    font-size: 1.4rem;
}
#sideads{
    position: relative;
    left: 1rem;
    width: 10rem;
    height: 10rem;
    border: .2rem black groove;
}
#infotext6{
    color: black;
    font-size: 1rem;
}
#infortext5{
    color: black;
    font-size: 1.7rem;
}
#infotext4{
    color: black;
    font-size: 1.5rem;
}
#topper{
    width: 14rem;
    height: 10rem;
    position: relative;
    border: black .2rem groove;
    left: 80rem;
    bottom: 7rem;
}
#title{
    position: relative;
    color: black;
    text-align: center;
    font-size: 4rem;
    top: 1rem;
}
#header{
    position: relative;
    width: 77rem;
    height: 8rem;
    top: 1rem;
    left: 2rem;
    border: #838384 .2rem groove;
}
#line{
    color: black;
    font-size: 2rem;
    border: black 2rem groove;
}
#timeline{
    position: relative;
    width: 77rem;
    height: 30rem;
    left: 2rem;
    bottom: 5rem;
    border: #838384 .2rem groove;
}
#ads{
    position: relative;
    border: #838384 .2rem groove;
    width: 14rem;
    height: 75rem;
    left: 16rem;
    bottom: 7.6rem;
}
#drops{
    position: relative;
    width: 37rem;
    height: 43.4rem;
    bottom: 51rem;
    border: #838384 .2rem groove;
}
#reviews{
    position: relative;
    width: 37rem;
    height: 43.4rem;
    bottom: 51rem;
    left: 2rem;
    border: #838384 .2rem groove;
}
#imgright{
    position: relative;
    border: #838384 .2rem groove;
    width: 20rem;
    height: 20rem;
    bottom: 40rem;
    left: 2rem;
}
#imgleft{
    position: relative;
    border: #838384 .2rem groove;
    width: 25rem;
    height: 25rem;
    bottom: 39rem;
    left: 15rem;
}
#vid{
    border: #838384 .2rem groove;
    position: relative;
    bottom: 40rem;
    left: 2rem ;
}
#zback{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
#ztitle{
    color: white;
    text-align: center;
    position: relative;
    left: 32rem;
    bottom:18rem;
    font-size: 4rem;
}
#zright{
    width: 20rem;
    height: 10rem;
    position: relative;
    left: 5rem;
    top: 3rem;
}
#zleft{
    width: 20rem;
    height: 10rem;
    position: relative;
    left: 70rem;
    bottom: 7rem;
}
#zhistory{
    border: red .2rem groove;
    position: relative;
    height: 25rem;
    width: 20rem;
    left: 38rem;
    bottom: 60rem;
}
#zgames{
    border: red .2rem groove;
    position: relative;
    height: 50rem;
    width: 25rem;
    left: 5rem;
    bottom: 10rem;
    
}
#zcharacters{
    border: red .2rem groove;
    position: relative;
    height: 50rem;
    width: 25rem;
    left: 65rem;
    bottom: 85rem;
}
#centerimg{
    position: relative;
    width: 20rem;
    height: 23rem;
    left: 38rem;
    bottom: 108rem;
    border: red .2rem groove;
}
#zsignr{
    position: relative;
    width: 20rem;
    height: 15rem;
    bottom: 98rem;
    left: 5rem;
    border: red .2rem groove;
}
#zsignl{
    position: relative;
    width: 20rem;
    height: 15rem;
    left: 70rem;
    bottom: 113rem;
    border: red .2rem groove;
}
#zvid{
    position: relative;
    left: 30.5rem;
    bottom: 130rem;
    border: red .2rem groove;
}
#zhead{
    color: white;
    text-align: center;
}
#infotext{
    color: white;
    text-align: center;
    font-size: 1.7rem;
}
#infotext1{
    color: white;
    font-size: 1.1rem;
}
#infotext2{
    color: white;
    font-size: 1.2rem;
}
#list{
    color: white;
}
